<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [2]:
# What is your name! print your name! 
# Only use one print function
print("Midhun Roy")

Midhun Roy

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [3]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5
longitude = 4

In [4]:
# print required variable
# output - 5
print(rohan)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [5]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 22
ur_weight = 65
ur_first_name = 'Midhun'
ur_last_name = "Roy"

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----| 
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [6]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [7]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age)
print(ur_weight)
print(ur_first_name)
print(ur_last_name)

22
65
Midhun
Roy

In [8]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh' 
first_name = 'Midhun'
last_name = 'Midhun'
# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name 
TrueOrFalse = first_name==last_name
print(TrueOrFalse)

True

In [9]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks 

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [10]:

# Initialize variables [x,y,z,zz] with values 
## x as 7 =>int ,
## y as 77 =>int, 
## z as 77.7 => float, 
## zz as 'Hi' => string
x = 7
y = 77
z = 77.7
zz = 'Hi'

# **`Arithmetic Operators`**

In [11]:
# add x and z
print(x+z)

84.7

In [12]:
# subtract z and y
print(z-y)

0.7000000000000028

In [13]:
# Multiply x and z
print(x*z)

543.9

In [14]:
# Exponent (raise the power or times) x times z
print(x**z)

4.614426248242042e+65

In [15]:
# division on x and z
print(x/z)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [16]:
# floor division(ignores decimal) on x and z (gives quotient)
print(x//z)

0.0

In [17]:
# Modulo(gives remainder) on x and z
print(x%z)

7.0

# **`Comparison Operators`**

In [18]:
# comapre and see if x is less then z 
# can use '<' symbol
print(x<z)

True

In [19]:
# check the type of above comaprison where it says comapre and see if x is less then z 
print(type(x<z))

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [20]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
print(x<=z)

True

In [21]:
# comapre and see if x equall to z
# can use '==' symbol
print(x==z)

False

In [22]:
# comapre and see if x is greater than z
# can use '>' symbol
print(x>z)

False

In [23]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
print(x>=z)

False

In [24]:
# comapre and see if x is Not equall to z
# can use '!=' symbol
print(x!=z)

True

# **`Logical Operators`**

In [25]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and 
# equall to => '=='
# logical and => and

# in and both condition must be True to get a True
result = (108 == 108) and (21 == 21)
print(result)

True

In [26]:
# how above condition can give False as output show all those conditions
result1 = (108 == 109)  
result2 = (21 == 22)  
result3 = (108 == 109) and (21 == 22)

print(result1)  
print(result2)  
print(result3)

False
False
False

In [27]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or

# in or Only one condition need to be True to get a True
result = (108 == 108) or (21 == 11)
print(result)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:` 
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [28]:
# make variable with value as : money 100000

# see output of money > 2000 
money = 100000
print(money>2000)

True

In [29]:
# assign money variable value of 10000
##### say you have this much ammount in your account

# start of if condition
# if money is greater then 1000 which is data science course free
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is working
if money > 1000:
    print("Congratulations! You have enough money in your account for the data science course. It's free for you!")
else:
    print("Oops! You have less money in your account than the required amount for the data science course.")

Congratulations! You have enough money in your account for the data science course. It's free for you!

In [30]:
# take a test_score variable with 80 in it.
test_score = 80
# if test_score greater than 80 then print A grade
# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you
if test_score > 80:
  print("A Grade")
elif test_score > 60 and test_score < 80:
  print("B Grade")
else :
  print("Nothing for you")

Nothing for you

# **`Python Loops`**

In [31]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

In [32]:
for iterating_variable in range(10):
    print(iterating_variable)

0
1
2
3
4
5
6
7
8
9

In [33]:
# print 'I love sports' 10 times using for loop
for i in range(10):
  print("I love sports")

I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports
I love sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [34]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [35]:
# while loop

# save 0 in variable number
number = 0
# print till 10 using while loop
while number <=10:
  print(number)
  number+=1

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [36]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
# break when num equals 5
for num in range(10):
  print('The number is',num)
  if num == 5:
    break

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5

# **`Continue Statement`**

In [37]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
# continue when num equals 5
for num in range(10):
  if num == 5:
    continue
  print('The number is ',num)

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4
The number is  6
The number is  7
The number is  8
The number is  9

# **`String Manipulation`**

In [38]:
string_ = '' or "" or """ """

In [39]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"
statement = "We are creating next generation data science eco-system at CollegeRanker"
print(statement)

We are creating next generation data science eco-system at CollegeRanker

In [40]:
# Find length of string including spaces
print(len(statement))

72

In [41]:
# Access characters in a string with indexing i.e string[0]
print(statement[0]) # accessing the first character
print(statement[4]) # accessing the fifth character

W
r

In [42]:
# Access characters with negative indexing i.e string[-1]
print(statement[-1]) # accessing the last character
print(statement[-2]) # accessing the second last character

r
e

# String Slicing

In [43]:
# select string from first to 6th element i.e string[:6]
print(statement[:6])

We are

In [44]:
# select string from 7th to negative 10th element i.e string[7:-10]
print(statement[7:-10])

creating next generation data science eco-system at Col

Count of a particular `character` in a string

In [45]:
character = "e"
count = statement.count(character)
print("Count of", character, "in the string:", count)

Count of e in the string: 13

Count of a particular `sub-string` in a string

In [46]:
substring = "generation"
count = statement.count(substring)
print("Count of", substring, "in the string:", count)

Count of generation in the string: 1

Find a substring in string using `find` and `index` function

In [47]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
substring = "generation"
index = statement.find(substring)
print("Starting index of", substring, "in the string:", index)

Starting index of generation in the string: 21

In [48]:
### Checking whether string `startswith` or `endswith` a particular substring or not
substring = "We are"
starts_with_substring = statement.startswith(substring)
print("Starts with", substring, ":", starts_with_substring)

Starts with We are : True

In [50]:
### Converting string to upper case ###
print(statement.upper())

WE ARE CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM AT COLLEGERANKER

In [51]:
### Converting only first character of string to upper casev
print(statement.capitalize())

We are creating next generation data science eco-system at collegeranker

In [53]:
### Checking if string is in lower case or upper case
is_lower = statement.islower()
print("Is the string in lowercase?", is_lower)

Is the string in lowercase? False

In [54]:
is_upper = statement.isupper()
print("Is the string in uppercase?", is_upper)

Is the string in uppercase? False

In [55]:
## Checking if string is digit, alpabetic, alpha-numeric
print(statement.isdigit())
print(statement.isalpha())
print(statement.isalnum())

False
False
False

In [56]:
# assign "C++ is easy to learn" to a new_str variable
new_str = "C++ is easy to learn"
print(new_str)

C++ is easy to learn

In [57]:
### Replace C++ with Python
original_str = "C++ is easy to learn"
new_str = original_str.replace("C++", "Python")
print(new_str)

Python is easy to learn

In [58]:
### Use Split function on new_str ###
print(new_str.split())

['Python', 'is', 'easy', 'to', 'learn']

# **`Python Functions`**

In [59]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [62]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'
def welcome_message(name):
    print(f"Welcome, {name}!")
    print("Welcome to Function!!!")

In [63]:
# call a function with your name
welcome_message('Midhun')

Welcome, Midhun!
Welcome to Function!!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [64]:
# Write a function to add two number which are as 3 and 4
# in total variable store adition of 3 + 4
# print total variable 
def add_numbers():
    num1 = 3
    num2 = 4
    total = num1 + num2
    return total


result = add_numbers()
print("Total:", result)

Total: 7

# ***`Positional Arguments`*** 
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [65]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number
def subtraction_function(small_number, large_number):
    difference = large_number - small_number
    return difference

In [66]:
result = subtraction_function(3, 8)
print("Difference:", result)

Difference: 5

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [67]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [68]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

In [69]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [70]:
print(random_function())
print(global_variable)

changing variable outside of function from inside of function
variable outside of function